.card{
display: block;
background-color: white;
width: 20rem;
padding: 1rem;
}
.card__head{
    height: 100%;
    display: flex;
    margin-top: -115px;
}
.card__body{

}
.card__heading{
    border-bottom: 2px black solid;
    font-size: 2em;
    font-weight: 600;
    
}
body{
    background-image: url(../imgs/bg.webp);
    
}
.img__responsive{
    width: 230px;
    height: 230px;
    border-radius: 100%;
    margin: auto;
    object-fit: cover;
}
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?5hqugd');
    src:  url('fonts/icomoon.eot?5hqugd#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?5hqugd') format('truetype'),
      url('fonts/icomoon.woff?5hqugd') format('woff'),
      url('fonts/icomoon.svg?5hqugd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }